mixin settings(locale)
    script(src="/js/jquery.textchange.min.js")
    - var classes = ["row", "tab-pane"]
    div(class=classes, id="settings")
        +base_params_form(locale)
        +change_email(locale)
        +change_password(locale)

mixin base_params_form(locale)
    - var panelClasses = ["panel", "panel-info"]
    - var buttonFormClasses = ["col-lg-3", "col-lg-offset-3"]
    - var labelClasses = ["control-label", "col-lg-2", "text-right", "text-muted"]
    div(id="base-parameters")
        div.row
            span.col-lg-12.text-muted
                | #{locale.line('label_base_settings')}
        hr
        div.row
            div.col-2
            div(class="col-lg-5", id="errors-base-parameters")
        div.row
            small
                label(class=labelClasses, for="input-first-name text-sm")
                    | #{locale.line('field_first_name')}
            div.col-lg-5
                if(account.firstName)
                    - var placeholder = account.firstName
                else
                    - var placeholder = locale.line('field_first_name')
                input(type="text", class="form-control input-sm", id="input-first-name", placeholder=placeholder)
        div.row
            small
                label(class=labelClasses, for="input-last-name")
                    | #{locale.line('field_last_name')}
            div.col-lg-5
                if(account.lastName)
                    - var placeholder = account.lastName
                else
                    - var placeholder = locale.line('field_last_name')
                input(type="text", class="form-control input-sm", id="input-last-name", placeholder=placeholder)
        div.row
            div.col-2
            div(class=buttonFormClasses, style="margin-left: -10px;")
                - var classes = ["btn", "btn-form", "btn-primary", "btn-sm"]
                button(type="button", class=classes, id="button-save-base-info")
                    | #{locale.line('button_save')}

mixin change_email(locale)
    - var panelClasses = ["panel", "panel-danger"]
    - var buttonFormClasses = ["col-lg-3", "col-lg-offset-3"]
    - var labelClasses = ["control-label", "col-lg-2", "text-right", "text-muted"]
    div(id="change-email")
        div.row
        div.row
        div.row
        div.row
            span.col-lg-12.text-muted
                | #{locale.line('label_change_email')}
        hr
        div.row
            div.col-2
            div(class="col-5", id="errors-change-email")
        div.row
            small
                label(class=labelClasses)
                    | #{locale.line('field_current_email')}
            div.col-5
                small(id="label-current-email")
                    | #{account.getEmail()}
        div.row
            small
                label(class=labelClasses, id="label-new-email", for="input-new-email")
                    | #{locale.line('field_new_email')}
            div(id="new-email", data-title=locale.line('error_email_incorrect'), class="col-lg-5")
                input(type="email", class="form-control input-sm", id="input-new-email", placeholder=locale.line('field_new_email'))
        div.row
            small
                label(class=labelClasses, for="input-password__1")
                    | #{locale.line('field_password')}
            div.col-lg-5
                input(type="password", class="form-control input-sm", id="input-password__1", placeholder=locale.line('field_password'))
        div.row
            div.col-2
            div(class=buttonFormClasses, style="margin-left: -10px;")
                - var classes = ["btn", "btn-form", "btn-primary", "btn-sm"]
                button(type="button", class=classes, id="button-change-email", disabled)
                    | #{locale.line('button_change')}

mixin change_password(locale)
    - var panelClasses = ["panel", "panel-danger"]
    - var buttonFormClasses = ["col-lg-3", "col-lg-offset-3"]
    - var labelClasses = ["control-label", "col-lg-2", "text-right", "text-muted"]
    div#change-password
        div.row
        div.row
        div.row
        div.row
            span.col-lg-21.text-muted
                | #{locale.line('label_change_password')}
        hr
        div.row
            div.col-2
            div(class="col-5", id="errors-change-password")
        div.row
            small
                label(class=labelClasses, for="input-password__2")
                    | #{locale.line('field_old_password')}
            div.col-lg-5
                input(type="password", class="form-control input-sm", id="input-password__2", placeholder=locale.line('field_old_password'))
        div.row
            small
                label(class=labelClasses, id="input-password__3_label", for="input-password__3")
                    | #{locale.line('field_new_password')}
            div(class="col-lg-5", id="input-password__3_container", rel="popover", data-content=locale.line('help_new_password'))
                input(type="password", class="form-control input-sm", id="input-password__3", placeholder=locale.line('field_new_password'))
        - var classes = ["row"]
        div(class=classes)
            small
                label(class=labelClasses, id="input-password__4_label", for="input-password__4")
                    | #{locale.line('field_password_confirm')}
            div(class="col-lg-5", id="input-password__4_container")
                input(type="password", class="form-control input-sm", id="input-password__4", placeholder=locale.line('field_password_confirm'))
        div.row
            div.col-2
            div(class=buttonFormClasses, style="margin-left: -10px;")
                - var classes = ["btn", "btn-form", "btn-primary", "btn-sm"]
                button(type="button", class=classes, disabled, id="button-change-password")
                    | #{locale.line('button_change')}
